<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chat App</title>
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/chat.css" /> -->
    </head>
    <body>

        <div id="chat-container">
            <!-- left part -->

            <div id="search-container">
                <input type="text" placeholder="Search" />
            </div>
            <!-- search-container end -->

            <div id="conversation-list">
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/daryl.png?raw=true" alt="Daryl" />
                    <div class="title-text">
                        Fred Batz
                    </div>
                    <div class="created-date">
                        Apr 19
                    </div>
                    <div class="conversation-message">
                        Odit iusto eum.
                    </div>
                </div>
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/kim.jpeg?raw=true" alt="Kim O'Neil" />
                    <div class="title-text">Emma Abernathy</div>
                    <div class="created-date">2 days ago</div>
                    <div class="conversation-message">
                        Molestiae magnam optio est ut hic saepe.
                    </div>
                </div>
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/john.jpeg?raw=true" alt="John Anderson" />
                    <div class="title-text">Malik Cormier</div>
                    <div class="created-date">1 week ago</div>
                    <div class="conversation-message">
                        Sunt non recusandae ut.
                    </div>
                </div>
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/ben.png?raw=true" alt="Ben Smith" />
                    <div class="title-text">Ben Smith</div>
                    <div class="created-date">2:49 PM</div>
                    <div class="conversation-message">
                        Cupiditate et hic quasi illum.
                    </div>
                </div>
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/douglas.png?raw=true" alt="Douglas Johannasen" />
                    <div class="title-text">Roman Bashirian</div>
                    <div class="created-date">6:14 PM</div>
                    <div class="conversation-message">
                        Voluptas et ut quaerat sed omnis nobis nihil dolores.
                    </div>
                </div>
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/jacob.png?raw=true" alt="Jacob Manly" />
                    <div class="title-text">Lot Barton</div>
                    <div class="created-date">3 secs ago</div>
                    <div class="conversation-message">
                        Odio aut dolorem perferendis.
                    </div>
                </div>
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/stacey.jpeg?raw=true" alt="Stacey Wilson" />
                    <div class="title-text">May Haag</div>
                    <div class="created-date">30 mins ago</div>
                    <div class="conversation-message">
                        Quo ad explicabo rerum.
                    </div>
                </div>
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/stan.jpeg?raw=true" alt="Stan George" />
                    <div class="title-text">Stanley Davis</div>
                    <div class="created-date">1 week ago</div>
                    <div class="conversation-message">
                        Eum qui soluta accusamus inventore.
                    </div>
                </div>
                <div class="conversation">
                    <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/sarah.jpeg?raw=true" alt="Sarah Momes" />
                    <div class="title-text">Alexandra Jenkins</div>
                    <div class="created-date">1 year ago</div>
                    <div class="conversation-message">
                        Aut et quia qui voluptas ratione accusantium sunt quam voluptatum.
                    </div>
                </div>
            </div>
            <!-- !conversation-list end -->

            <div id="new-message-container">
                <a href="#">+</a>
            </div>
            <!-- new-message-container end -->

            <!-- right part -->

            <div id="chat-title">
                <span>Ben Smith</span>
                <img src="https://raw.githubusercontent.com/Sandro2702/chat-ui-css-grid/c5b7223d6a7d081dd5a5980125d6ecbe21499366/images/icons/trash-logo.svg" alt="Delete conversation" />
            </div>
            <!-- chat-title end -->

            <div id="chat-message-list">
                <div class="message-row you-message">
                    <div class="message-content">
                        <div class="message-text">
                            1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium fugiat id numquam modi
                            delectus repellat vitae, veniam impedit nisi debitis assumenda non, eum doloremque eligendi,
                            obcaecati facilis error repellendus consectetur necessitatibus quas officiis laboriosam
                            perspiciatis? Nam facere repellendus distinctio nihil.
                        </div>
                        <div class="message-time">
                            Apr 19
                        </div>
                    </div>
                </div>

                <div class="message-row other-message">
                    <div class="message-content">
                        <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/ben.png?raw=true" alt="Ben" />
                        <div class="message-text">
                            2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, fugiat veniam, doloremque
                            adipisci assumenda, nisi distinctio quibusdam a recusandae sint ratione sunt? Nemo quam enim
                            architecto quas, repudiandae quo consequatur!
                        </div>
                        <div class="message-time">
                            Apr 19
                        </div>
                    </div>
                </div>
                <div class="message-row you-message">
                    <div class="message-content">
                        <div class="message-text">
                            3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia illo eligendi doloribus
                            suscipit consectetur ex?
                        </div>
                        <div class="message-time">Apr 15</div>
                    </div>
                </div>
                <div class="message-row other-message">
                    <div class="message-content">
                        <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/ben.png?raw=true" alt="Ben" />
                        <div class="message-text">
                            4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia illo eligendi doloribus
                            suscipit consectetur ex?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
                            illo eligendi doloribus suscipit consectetur ex?
                        </div>
                        <div class="message-time">Apr 16</div>
                    </div>
                </div>
                <div class="message-row you-message">
                    <div class="message-content">
                        <div class="message-text">
                            5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia illo eligendi doloribus
                            suscipit consectetur ex?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
                            illo eligendi doloribus suscipit consectetur ex?
                        </div>
                        <div class="message-time">Apr 15</div>
                    </div>
                </div>
                <div class="message-row other-message">
                    <div class="message-content">
                        <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/ben.png?raw=true" alt="Ben" />
                        <div class="message-text">
                            6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia illo eligendi doloribus
                            suscipit consectetur ex?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
                            illo eligendi doloribus suscipit consectetur ex?
                        </div>
                        <div class="message-time">Apr 14</div>
                    </div>
                </div>
                <div class="message-row you-message">
                  <!-- <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/ben.png?raw=true" alt="Ben" /> -->

                    <div class="message-content">
                        <div class="message-text">
                            7 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia illo eligendi doloribus
                            suscipit consectetur ex?
                        </div>
                        <div class="message-time">Apr 13</div>
                    </div>
                </div>
                <div class="message-row other-message">
                    <div class="message-content">
                      <img src="https://github.com/Sandro2702/chat-ui-css-grid/blob/master/images/profiles/ben.png?raw=true" alt="Ben" />
                      <!-- <a href="">asdas asad</a> -->
                        <div class="message-text">
                            8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia illo eligendi doloribus
                            suscipit consectetur ex?
                        </div>
                        <div class="message-time">Aprsss 13 dfds sfsf sfdsf </div>
                    </div>
                </div>
                <div class="message-row you-message">
                    <div class="message-content">
                        <div class="message-text">
                            9 Loremratnadeep dolor sit amet, consectetur adipisicing elit. Officia illo eligendi doloribus
                            suscipit consectetur ex?
                        </div>
                        <div class="message-time">Apr 13</div>
                    </div>
                </div>

                <div class="message-row you-message">
                  <div class="message-content">
                      <div class="message-text">
                          <img src="https://images6.alphacoders.com/337/thumb-1920-337420.jpg" alt="">
                      </div>
                      <div class="message-time">Apr 13</div>
                  </div>
              </div>

              </div>
            <!-- chat-message-list end -->

            <div id="chat-form">
                <img src="https://raw.githubusercontent.com/Sandro2702/chat-ui-css-grid/c5b7223d6a7d081dd5a5980125d6ecbe21499366/images/icons/attachment-logo.svg" alt="attachment-logo" />
                <input type="text" placeholder="type a message" />
            </div>
            <!-- chat-form end -->
        </div>
    </body>
</html>